<h1>Welcome ! {{ username }} </h1>
<!-- <app-volunteer></app-volunteer> -->
<div class="container">
    <a routerLink = '/volunteer'>click here</a> to look at the complete list outreach event to register from the Opportunities listed
</div>
<!-- <div class="container">
    Click here to get customized contents for you .
    <button (click)="getmsg()" class="btn btn-success">Check</button>
</div> -->
<div class="container">
    Click here to get customized contents for you .
    <button (click)="getmsgwithparam()" class="btn btn-success">Check</button>
</div>
<div class="container">
    Response Message from Service .....
    {{ responseMsg }}
</div>

